{{- range .Values.tasks }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: ort-server-{{ .name }}
  namespace: {{ $.Release.Namespace }}
spec:
  schedule: {{ .schedule | quote }}
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          serviceAccountName: ort-server-tasks-sa
          containers:
            - name: ort-server-{{ .name }}-task
              image: "{{ $.Values.containerRegistry }}/ort-server-maintenance-tasks:{{ $.Chart.AppVersion }}"
              env:
                # Database
                - name: DB_HOST
                  value: {{ $.Values.database.host }}
                - name: DB_PORT
                  value: "{{ $.Values.database.port }}"
                - name: DB_NAME
                  value: {{ $.Values.database.name }}
                - name: DB_SCHEMA
                  value: {{ $.Values.database.schema }}
                - name: DB_USERNAME
                  value: {{ $.Values.database.username }}
                - name: DB_PASSWORD
                  value: {{ $.Values.database.password }}
                - name: DB_SSL_MODE
                  value: {{ $.Values.database.sslMode }}

                # Admin secret provider
                - name: ALLOW_SECRETS_FROM_CONFIG
                  value: "true"
                # Allow setting all typesafe config properties with environment variables. This is required because not all
                # config properties have environment variable substitutions configured.
                - name: JAVA_TOOL_OPTIONS
                  value: "-Dconfig.override_with_env_vars=true"

                # File list storage
                {{- if $.Values.storage.database.enabled }}
                - name: FILE_LIST_STORAGE_NAME
                  value: database
                - name: FILE_LIST_STORAGE_NAMESPACE
                  value: {{ $.Values.storage.database.namespaces.fileLists }}
                - name: FILE_LIST_STORAGE_IN_MEMORY_LIMIT
                  value: "{{ $.Values.storage.database.inMemoryLimit }}"
                {{- end }}

                # Report storage
                {{- if $.Values.storage.database.enabled }}
                - name: REPORT_STORAGE_NAME
                  value: database
                - name: REPORT_STORAGE_NAMESPACE
                  value: {{ $.Values.storage.database.namespaces.reports }}
                - name: REPORT_STORAGE_IN_MEMORY_LIMIT
                  value: "{{ $.Values.storage.database.inMemoryLimit }}"
                {{- end }}

                # Orchestrator sender
                {{- if $.Values.transport.rabbitmq.enabled }}
                - name: ORCHESTRATOR_SENDER_TRANSPORT_TYPE
                  value: rabbitMQ
                - name: ORCHESTRATOR_SENDER_TRANSPORT_QUEUE_NAME
                  value: {{ $.Values.transport.queues.orchestrator }}
                - name: ORCHESTRATOR_SENDER_TRANSPORT_SERVER_URI
                  value: {{ $.Values.transport.rabbitmq.serverUri }}
                # The RabbitMQ transport does not use the default properties for the credentials.
                - name: CONFIG_FORCE_orchestrator_sender_rabbitMqUser
                  value: {{ $.Values.transport.rabbitmq.username }}
                - name: CONFIG_FORCE_orchestrator_sender_rabbitMqPassword
                  value: {{ $.Values.transport.rabbitmq.password }}
                # - name: ORCHESTRATOR_SENDER_TRANSPORT_USERNAME
                #   value: {{ $.Values.transport.rabbitmq.username }}
                # - name: ORCHESTRATOR_SENDER_TRANSPORT_PASSWORD
                #   value: {{ $.Values.transport.rabbitmq.password }}
                {{- end }}

                # Common task configuration
                - name: TASKS
                  value: "{{ .name }}"
                - name: MONITOR_NAMESPACE
                  value: {{ $.Release.Namespace }}

                # delete-old-ort-runs task
                {{- if eq .name "delete-old-ort-runs" }}
                - name: DATA_RETENTION_ORT_RUN_DAYS
                  value: "{{ .dataRetention.ortRunDays }}"
                {{- end }}

                # delete-orphaned-entities task
                {{- if eq .name "delete-orphaned-entities" }}
                - name: ORPHANED_VCS_INFO_LIMIT
                  value: "{{ .vcsInfo.limit }}"
                - name: ORPHANED_VCS_INFO_CHUNK_SIZE
                  value: "{{ .vcsInfo.chunkSize }}"
                - name: ORPHANED_REMOTE_ARTIFACTS_LIMIT
                  value: "{{ .remoteArtifacts.limit }}"
                - name: ORPHANED_REMOTE_ARTIFACTS_CHUNK_SIZE
                  value: "{{ .remoteArtifacts.chunkSize }}"
                - name: ORPHANED_SNIPPETS_LIMIT
                  value: "{{ .snippets.limit }}"
                - name: ORPHANED_SNIPPETS_CHUNK_SIZE
                  value: "{{ .snippets.chunkSize }}"
                - name: ORPHANED_SNIPPET_FINDINGS_LIMIT
                  value: "{{ .snippetFindings.limit }}"
                - name: ORPHANED_SNIPPET_FINDINGS_CHUNK_SIZE
                  value: "{{ .snippetFindings.chunkSize }}"
                {{- end }}

                # kubernetes-reaper task
                {{- if eq .name "kubernetes-reaper" }}
                - name: MONITOR_REAPER_MAX_AGE
                  value: "{{ .reaperMaxAge }}"
                {{- end }}

                # kubernetes-long-running-jobs-finder task
                {{- if eq .name "kubernetes-long-running-jobs-finder" }}
                - name: MONITOR_TIMEOUT_CONFIG
                  value: "{{ .timeouts.configWorker }}"
                - name: MONITOR_TIMEOUT_ANALYZER
                  value: "{{ .timeouts.analyzerWorker }}"
                - name: MONITOR_TIMEOUT_ADVISOR
                  value: "{{ .timeouts.advisorWorker }}"
                - name: MONITOR_TIMEOUT_SCANNER
                  value: "{{ .timeouts.scannerWorker }}"
                - name: MONITOR_TIMEOUT_EVALUATOR
                  value: "{{ .timeouts.evaluatorWorker }}"
                - name: MONITOR_TIMEOUT_REPORTER
                  value: "{{ .timeouts.reporterWorker }}"
                - name: MONITOR_TIMEOUT_NOTIFIER
                  value: "{{ .timeouts.notifierWorker }}"
                {{- end }}

                # kubernetes-lost-jobs-finder task
                {{- if eq .name "kubernetes-lost-jobs-finder" }}
                - name: MONITOR_LOST_JOBS_MIN_AGE
                  value: "{{ .lostJobsMinAge }}"
                {{- end }}
{{- end }}
