apiVersion: apps/v1
kind: Deployment
metadata:
  name: ort-server-core
  namespace: {{ .Release.Namespace }}
  labels:
    app: ort-server-core
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ort-server-core
  template:
    metadata:
      labels:
        app: ort-server-core
    spec:
      volumes:
        {{- if .Values.core.extraVolumes }}
        {{- toYaml .Values.core.extraVolumes | nindent 8 }}
        {{- end }}
      containers:
        - name: ort-server-core
          image: "{{ .Values.containerRegistry }}/ort-server-core:{{ .Chart.AppVersion }}"
          ports:
            - containerPort: 8080
          livenessProbe:
            failureThreshold: 6
            httpGet:
              path: /api/v1/liveness
              port: 8080
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          volumeMounts:
            {{- if .Values.core.extraVolumeMounts }}
            {{- toYaml .Values.core.extraVolumeMounts | nindent 12 }}
            {{- end }}
          env:
            {{- include "ortserver.env.adminSecrets" . | nindent 12 }}
            {{- include "ortserver.env.database" . | nindent 12 }}
            {{- include "ortserver.env.fileListStorage" . | nindent 12 }}
            {{- include "ortserver.env.reportStorage" . | nindent 12 }}
            {{- include "ortserver.env.typesafeConfigOverride" . | nindent 12 }}
            {{- include "ortserver.env.userSecrets" . | nindent 12 }}

            # Webserver
            - name: PORT
              value: "8080"
            - name: UI_HOSTS
              value: {{ .Values.core.uiHosts }}

            # Keycloak
            - name: JWT_URI
              value: {{ .Values.core.keycloak.jwtUri }}
            - name: JWT_ISSUER
              value: {{ .Values.core.keycloak.jwtIssuer }}
            - name: JWT_AUDIENCE
              value: {{ .Values.core.keycloak.jwtAudience }}
            - name: JWT_REALM
              value: {{ .Values.core.keycloak.jwtRealm }}
            - name: JWT_ROLE_CACHE_LIFETIME
              value: {{ .Values.core.keycloak.jwtRoleCacheLifetime | quote }}
            - name: KEYCLOAK_ACCESS_TOKEN_URL
              value: {{ .Values.core.keycloak.accessTokenUrl }}
            - name: KEYCLOAK_API_URL
              value: {{ .Values.core.keycloak.apiUrl }}
            - name: KEYCLOAK_API_USER
              value: {{ .Values.core.keycloak.apiUser }}
            - name: KEYCLOAK_API_SECRET
              value: {{ .Values.core.keycloak.apiSecret }}
            - name: KEYCLOAK_CLIENT_ID
              value: {{ .Values.core.keycloak.clientId }}
            - name: KEYCLOAK_SUBJECT_CLIENT_ID
              value: {{ .Values.core.keycloak.subjectClientId }}

            # Orchestrator sender
            {{- if .Values.transport.rabbitmq.enabled }}
            - name: ORCHESTRATOR_SENDER_TRANSPORT_TYPE
              value: rabbitMQ
            - name: ORCHESTRATOR_SENDER_TRANSPORT_QUEUE_NAME
              value: {{ .Values.transport.queues.orchestrator }}
            - name: ORCHESTRATOR_SENDER_TRANSPORT_SERVER_URI
              value: {{ .Values.transport.rabbitmq.serverUri }}
            # The RabbitMQ transport does not use the default properties for the credentials.
            - name: CONFIG_FORCE_orchestrator_sender_rabbitMqUser
              value: {{ .Values.transport.rabbitmq.username }}
            - name: CONFIG_FORCE_orchestrator_sender_rabbitMqPassword
              value: {{ .Values.transport.rabbitmq.password }}
            # - name: ORCHESTRATOR_SENDER_TRANSPORT_USERNAME
            #   value: {{ .Values.transport.rabbitmq.username }}
            # - name: ORCHESTRATOR_SENDER_TRANSPORT_PASSWORD
            #   value: {{ .Values.transport.rabbitmq.password }}
            {{- end }}
